.search__input {
	display: flex;
	align-items: center;
	border: 1px solid aqua;
	height: 30;
	padding: 10px 20px;
	border-radius: 999px;
	width: 75vw;
	margin: 0 auto;
	margin-top: 40px;
	max-width: 560px;
	justify-content: center;
}

.search__input > input {
	flex: 1;
	padding: 10px 20px;
	font-size: medium;
	border: none;
	justify-content: center;
	background-color: black;
	color: aqua;
}
.search__input > input:focus {
	outline-width: 0;
}

.search__inputIcon {
	color: gray;
}

.search__buttons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.search__buttons button {
	margin: 5px;
	padding: 7px 15px;
	background-color: black;
	border: 1px solid aqua;
	text-transform: inherit;
	color: gray;
}

.search__buttons button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: black;
	border: 1px solid aqua;
	color: aqua;
}

.search__buttonsHidden {
	display: none !important;
}
