.searchPage {
	background-color: black;
	color: aqua;
}

.searchPage__header {
	display: flex;
	position: sticky;
	top: 0;
	background-color: black;
	z-index: 100;
	align-items: flex-start;
	padding: 30px;
	border-bottom: 1px solid aqua;
}

.searchPage__logo {
	object-fit: contain;
	height: 80px;
	margin-right: 50px;
}

.searchPage__headerBody > .search > .search__input {
	margin-top: 0;
	width: unset;
	margin: unset;
	max-width: unset;
}

.searchPage__options {
	display: flex !important;
	align-items: center;
	color: aqua;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
	display: flex;
}

.searchPage__options a,
.searchPage__optionsRight a {
	text-decoration: none;
	color: aqua;
}

.searchPage__optionsRight {
	margin-left: 80px;
}
.searchPage__option {
	display: flex;
	align-self: center;
	margin-right: 20px;
}

.searchPage__option a {
	margin-left: 5px;
}

.searchPage__result {
	margin: 50px;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 100ms ease-in;
	cursor: pointer;
}
.searchPage__result:hover {
	color: white;
	transform: scale(1.07);
}

.searchPage__resultCount {
	color: aqua;
	font-size: 14px;
}

.searchPage__resultTitle:hover {
	color: white;
}

.searchPage__results {
	max-width: 650px;
	margin-top: 20px;
	margin-left: 240px;
	margin-bottom: 100px;
	padding: 25px 50px;
}

.searchPage__resultTitle {
	color: aqua;
	padding-top: 5px;
}

.searchPage__resultTitle > h2 {
	-webkit-text-decoration: salmon double underline;
	text-decoration: salmon double underline;
}

.searchPage__resultSnippet {
	padding-top: 20px;
	color: salmon;
}
